<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <section class="download">
      <div className="header">
        <h1>Instant Share</h1>
        <p>Easy and fast file sharing app.</p>
      </div>
      <% if(locals.error){ %>
      <h4><%= locals.error %></h4>
      <% } else { %>
      <p>Your file is ready to download</p>

      <div class="download__meta">
        <small>File size: <%= parseInt(fileSize/1000) %> KB</small>
      </div>
      <div class="send-btn-container">
        <a href="<%= downloadLink %>">Download file</a>
      </div>
      <% } %>
    </section>
  </body>
</html>
